MINA_PRIVATE_KEY=your_private_key_here
MINA_NETWORK="devnet"

## E2E TEST
MINA_NETWORK=
CONTRACT_ADDRESS=
MINA_PRIVATE_KEY=
MINA_FEE=
LIGHTNET_NODE_URL=http://127.0.0.1:8080/graphql
LIGHTNET_ARCHIVE_URL=http://127.0.0.1:8282
VALIDATOR_PRIVATE_KEY=
USE_MOCK_PROOF=